openapi: 3.0.0
info: 
  title: Enrichr API
  description: | 
    Enrichr is a web-based tool for enrichment analysis, providing users with 
    interactive displays and visual summaries of collective functions of gene 
    lists.
  termsOfService: http://amp.pharm.mssm.edu/Enrichr/help#terms
  contact: 
    name: Ma'ayan Lab
    url: http://labs.icahn.mssm.edu/maayanlab/contact/
    email: avi.maayan@mssm.edu
    x-role: responsible organization
    x-id: http://labs.icahn.mssm.edu/maayanlab/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html 
  version: 1.0.1

tags:
- name: Maayanlab
- name: gene
- name: enrichment

servers: 
- url: http://amp.pharm.mssm.edu/Enrichr

paths:
  /addList: 
    post: 
      summary: Submit a gene list for analysis
      operationId: addList
      requestBody:
        $ref: '#/components/requestBodies/addListInput'
      responses: 
        '200':
          description: Successful response
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  userListId: 
                    type: integer
                    example: 363320
                  shortId: 
                    type: string
                    example: 591h
        '400':
          description: Bad request. Missing or invalid gene list.
        '404': 
          $ref: '#/components/responses/404'
        '5XX':
          $ref: '#/components/responses/5XX'
  /view:
    get: 
      summary: Returns a specific gene list
      operationId: view
      parameters:
      - name: userListId
        in: query
        description: | 
          Unique ID for a specific gene list. If short ID is also known, use 
          EITHER userListId OR dataset.
        schema:
          type: integer
          example: 363320
      - name: dataset
        in: query
        description: | 
          Short ID for a specific gene list. If full userListId is also known, 
          use EITHER userListId OR dataset.
        schema: 
          type: string
          example: 591h
      responses:
        '200': 
          description: Successful response
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  genelist: 
                    type: array
                    items:
                      type: string
                    example: [PHF14,RBM3,MSL1,PHF21A,ARL10,INSR,JADE2]
                  description: 
                    type: string
                    example: Example gene list
        '400': 
          description: Bad request. Missing or invalid ID.
        '404':
          description: A gene list associated with the specified ID was not found.
        '5XX':
          $ref: '#/components/responses/5XX'
  /enrich: 
    get: 
      summary: Returns enrichment analysis results for a specific gene list
      operationId: enrich
      parameters: 
      - $ref: '#/components/parameters/userListId'
      - $ref: '#/components/parameters/backgroundType'
      responses: 
        '200': 
          description: Successful response
          content: 
            application/json: 
              schema: 
                type: array
                items: 
                  type: array
                  items: 
                    anyOf: 
                    - $ref: '#/components/schemas/rank'
                    - $ref: '#/components/schemas/term'
                    - $ref: '#/components/schemas/pval'
                    - $ref: '#/components/schemas/zscore'
                    - $ref: '#/components/schemas/combscore'
                    - $ref: '#/components/schemas/overlap'
                    - $ref: '#/components/schemas/adjpval'
                    - $ref: '#/components/schemas/oldpval'
                    - $ref: '#/components/schemas/oldadjpval'
        '400': 
          description: Bad request. Missing or invalid ID or gene library.
        '404': 
          description: Results for the specified ID and library were not found.
        '5XX':
          $ref: '#/components/responses/5XX'
  /genemap: 
    get: 
      summary: Returns enrichment terms that contain a given gene
      operationId: genemap
      parameters: 
      - name: gene
        in: query
        description: Gene to use in search for terms
        required: true
        schema: 
          type: string
          example: AKT1
      - name: json
        in: query
        description: Set true to return JSON rather than plaintext
        schema: 
          type: boolean
          example: true
      - name: setup
        in: query
        description: Set true to return category information for the libraries
        schema: 
          type: boolean
          example: true
      responses: 
        '200': 
          description: Successful response
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  gene: 
                    $ref: '#/components/schemas/gene'
                  descriptions:
                    $ref: '#/components/schemas/descriptions'
                  categories: 
                    $ref: '#/components/schemas/categories'
        '400': 
          description: Bad request. Missing or invalid gene name.
        '404': 
          description: Terms containing the specified gene were not found.
        '5XX':
          $ref: '#/components/responses/5XX'
  /export: 
    get: 
      summary: Download enrichment analysis results for a specific gene list
      operationId: export
      parameters: 
      - $ref: '#/components/parameters/userListId'
      - $ref: '#/components/parameters/backgroundType'
      - name: filename
        in: query
        description: Name of text file download
        required: true
        schema: 
          type: string
          example: example_enrichment
      responses: 
        '200': 
          description: A text file
          content: 
            application/text: 
              schema: 
                type: string
                format: binary
        '400': 
          description: Bad request - missing/invalid ID or gene library
        '404':
          description: Results for the specified ID and library were not found
        '5XX':
          $ref: '#/components/responses/5XX'
  /calendar: 
    get: 
      summary: Returns usage statistics for Enrichr website 
      operationId: calendar
      responses: 
        '200':
          description: Successful response
          content:
            text/plain:
              schema: 
                type: array
                items:
                  type: array
                  items: 
                    type: integer
              example: [[2013,2,26,3], [2013,2,27,5]]
        '400': 
          $ref: '#/components/responses/400'
        '404': 
          $ref: '#/components/responses/404'
        '5XX':
          $ref: '#/components/responses/5XX'
  /count:
    get: 
      summary: | 
        Returns total number of lists analyzed, number of terms, and number of 
        libraries
      operationId: count
      responses:
        '200':
          description: Successful response
          content: 
            text/plain: 
              schema: 
                type: string
              example: '9881737  238875  129'
        '400': 
          $ref: '#/components/responses/400'
        '404': 
          $ref: '#/components/responses/404'
        '5XX':
          $ref: '#/components/responses/5XX'
  /datasetStatistics:
    get: 
      summary: Returns statistic information on all gene libraries
      operationId: datasetStatistics
      responses:
        '200':
          description: Successful response
          content: 
            application/json: 
              schema: 
                type: object
                properties: 
                  statistics: 
                    $ref: '#/components/schemas/statistics'
        '400': 
          $ref: '#/components/responses/400'
        '404': 
          $ref: '#/components/responses/404'
        '5XX':
          $ref: '#/components/responses/5XX'
  /json/libraries.json: 
    get: 
      summary: Returns descriptive information on all gene libraries in JSON
      operationId: libraries.json
      responses: 
        '200': 
          description: Successful response
          content: 
            application/json: 
              schema: 
                type: object
                additionalProperties: {}
              example:  
                BioCarta 2016: 
                  description: Metabolic pathways from BioCarta,
                  idName: View Pathway,
                  idRegExp: h_[a-zA-Z0-9]*,
                  idRegExpFlag: i,
                  baseUrl: http://cgap.nci.nih.gov/Pathways/BioCarta/,
                  homepage: http://cgap.nci.nih.gov/Pathways/BioCarta/
        '400': 
          $ref: '#/components/responses/400'
        '404': 
          $ref: '#/components/responses/404'
        '5XX':
          $ref: '#/components/responses/5XX'

components: 
  requestBodies:
    addListInput:
      description: A list of genes and a short description
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              list: 
                type: string
                example: | 
                  PHF14
                  RBM3
                  MSL1
                  PHF21A
                  ARL10
                  INSR
                  JADE2
              description:
                type: string
                example: Example gene list
  parameters: 
    userListId: 
      name: userListId
      in: query
      description: Unique ID for a specific gene list. 
      required: true
      schema: 
        type: integer
        example: 363320
    backgroundType: 
      name: backgroundType
      in: query
      description: Gene set library for which to download results
      required: true
      schema: 
        type: string
        example: KEGG_2015
  responses:
    '400': 
      description: Bad request
    '404':
      description: Page not found
    '5XX': 
      description: Unexpected error
  schemas: 
    rank: 
      type: integer
      example: 1
    term: 
      type: string
      example: ubiquitin mediated proteolysis
    pval: 
      type: number
      format: float
      example: 0.06146387620182772
    zscore: 
      type: number
      format: float
      example: -1.8593425456520887
    combscore:
      type: number
      format: float
      example: 2.816873182384705
    overlap:
      type: array
      items: 
        type: string
      example: [CUL2]
    adjpval: 
      type: number
      format: float
      example: 0.21981251622012696
    oldpval:
      type: number
      format: float
    oldadjpval:
      type: number
      format: float
    gene:
      type: object
      additionalProperties:
        type: array
        items: 
          type: string
      example: 
        GeneSigDB: [18535662-TableS2b,17671232-TableS2a]
    descriptions:
      type: array
      items: 
        type: object
        properties: 
          name: 
            type: string
            example: GeneSigDB
          description: 
            type: string
            example: | 
              The GeneSigDB gene-set library was borrowed from the GeneSigDB 
              database (PMID:22110038). The database contains gene lists 
              extracted manually from the supporting tables of thousands of 
              publications; most are from cancer related studies.
    library:
      type: object
      properties: 
        name: 
          type: string
          example: ChEA_2015
        isFuzzy: 
          type: boolean
          example: true
        hasGrid: 
          type: boolean
          example: true
        format:
          type: string
          example: '{1} binds to the promoter region of {0}'
    categories:
      type: array
      items: 
        type: object
        properties: 
          name: 
            type: string
            example: Transcription
          libraries:
            type: array
            items:
              $ref: '#/components/schemas/library'
    statistics:
      type: array
      items: 
        type: object
        properties:
          libraryName: 
            type: string
            example: Genome_Browser_PWMs
          numTerms:
            type: integer
            example: 615
          geneCoverage:
            type: integer
            example: 13362
          genesPerTerm:
            type: number
            example: 275.0
          link: 
            type: string
            example: http://hgdownload.cse.ucsc.edu/goldenPath/hg18/database/

x-externalResources: 
- x-url: http://amp.pharm.mssm.edu/Enrichr/help#api
  x-type: api documentation
- x-url: https://www.ncbi.nlm.nih.gov/pubmed/23586463
  x-type: publication
  x-description: |
    Enrichr: interactive and collaborative HTML5 gene list enrichment analysis 
    tool
- x-url: https://www.ncbi.nlm.nih.gov/pubmed/27141961
  x-type: publication
  x-description: | 
    Enrichr: a comprehensive gene set enrichment analysis web server 2016 update
