openapi: 3.0.1

info:
  title: Enrichr
  version: 2.0.0
  description: | 
    Enrichr is a web-based tool for enrichment analysis, providing users with
    interactive displays and visual summaries of collective functions of gene
    lists.
  contact:
    email: avi.maayan@mssm.edu
    name: Ma'ayan Lab
    url: https://labs.icahn.mssm.edu/maayanlab/contact/
    x-id: https://labs.icahn.mssm.edu/maayanlab/
    x-role: responsible organization
  license:
    name: CC-BY-NC-SA-4.0
    url: https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode
  termsOfService: https://maayanlab.cloud/Enrichr/help#terms

servers:
- url: https://maayanlab.cloud/Enrichr

tags:
- name: Maayanlab
- name: NIHdatacommons

paths:
  /addList:
    post:
      summary: Submit a gene list for analysis
      operationId: addList
      requestBody:
        $ref: '#/components/requestBodies/addListInput'
      responses:
        '200':
          description: Successful response
          content: 
            application/json: 
              schema: 
                type: object
                properties:
                  shortId:
                    type: string
                    example: 591h
                  userListId:
                    type: integer
                    example: 363320
  /view:
    get:
      summary: Returns a specific gene list
      operationId: view
      parameters: 
      - $ref: '#/components/parameters/userListId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties: 
                  description: 
                    $ref: '#/components/schemas/description'
                  genelist: 
                    type: array
                    items:
                      type: string
                    example: 
                    - PHF14
                    - RBM3
                    - MSL1
                    - PHF21A
                    - ARL10
                    - INSR
                    - JADE2
  /enrich: 
    get: 
      summary: Returns enrichment analysis results for a specific gene list
      operationId: enrich
      parameters: 
      - $ref: '#/components/parameters/userListId'
      - $ref: '#/components/parameters/backgroundType'
      responses:
        '200': 
          description: Successful response
          content:
            application/json:
              schema: 
                type: array
                items:
                  type: array
                  items: 
                    anyOf:
                    - type: number
                    - type: integer
                    - type: array
                      items: 
                        type: string
                    - type: string
  /genemap: 
    get:
      summary: Returns enrichment terms that contain a given gene
      operationId: genemap
      parameters:
      - name: gene
        description: Gene to use in search for terms
        in: query
        required: true
        schema: 
          type: string
          example: 'AKT1'
      - name: json
        description: Set true to return JSON rather than plaintext
        in: query
        schema: 
          type: boolean
      - name: setup
        description: Set true to return category information for the libraries
        in: query
        schema: 
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json: 
              schema: 
                type: object
                properties:
                  categories:
                    $ref: '#/components/schemas/categories'
                  descriptions:
                    $ref: '#/components/schemas/descriptions'
                  gene:
                    $ref: '#/components/schemas/gene'
  /export:
    get: 
      summary: Download enrichment analysis results for a specific gene list
      operationId: export
      parameters:
      - $ref: '#/components/parameters/userListId'
      - $ref: '#/components/parameters/backgroundType'
      - name: filename
        description: Name of text file download
        in: query
        required: true
        schema:
          type: string
          example: example_enrichment
      responses:
        '200':
          description: Successful response
          content:
            application/text:
              schema:
                format: binary
                type: string
  /calendar: 
    get:
      summary: Returns usage statistics for Enrichr website
      operationId: calendar
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: integer
  /count: 
    get:
      summary: | 
        Returns total number of lists analyzed, number of terms, and number of
        libraries.
      operationId: count
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
  /datasetStatistics:
    get:
      summary: Returns statistic information on all gene libraries
      operationId: datasetStatistics
      responses:
        '200': 
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties: 
                  statistics:
                    type: array
                    items: 
                      $ref: '#/components/schemas/statisticobject'
  /json/libraries.json:
    get: 
      summary: Returns descriptive information on all gene libraries in JSON
      operationId: libraries.json
      responses:
        '200': 
          description: 'Successful response'
          content:
            application/json: 
              schema: 
                type: object
                additionalProperties: {}
        '400':
          $ref: '#/components/responses/400'
        '404': 
          $ref: '#/components/responses/404'
        '5XX':
          $ref: '#/components/responses/5XX'
  /geneSetLibrary:
    get:
      summary: '[BETA] Endpoint for downloading actual geneset given library & term(s)'
      operationId: geneSetLibrary
      parameters:
      - name: libraryName
        in: query
        required: true
        description: 'Geneset library to obtain'
        schema:
          type: string
          example: 'Data_Acquisition_Method_Most_Popular_Genes'
      - name: term
        in: query
        description: 'Select geneset(s) in the geneset library by `;` delimited exact-matching term name(s)'
        schema:
          type: string
          example: 'ChIP-seq;Data_aggregation'
      - name: mode
        in: query
        required: true
        description: 'The output mode'
        schema:
          type: string
          enum:
          - json
          - text
          example: json
      responses:
        '200': 
          description: 'Successful response'
          content:
            application/json: 
              schema:
                oneOf:
                - type: object
                  description: 'When term is not specified, object with library name mapped to library information'
                  additionalProperties:
                    type: object
                    properties:
                      libraryName:
                        type: string
                      isFuzzy:
                        type: boolean
                        description: 'Fuzzy or crisp geneset'
                      format:
                        type: string
                      category:
                        type: string
                      terms:
                        type: object
                        description: 'Terms mapped to genes mapped to their weight'
                        properties:
                          additionalProperties:
                            type: object
                            properties:
                              additionalProperties:
                                type: number
                    items:
                      type: object
                      properties:
                        additionalProperties:
                          type: number
                - type: object
                  description: When term is specified, object with library name mapped to terms mapped to genesets'
                  additionalProperties:
                    type: object
                    additionalProperties:
                      description: 'Terms mapped to genes mapped to their weight'
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          additionalProperties:
                            type: number
                    items:
                      type: object
                      properties:
                        additionalProperties:
                          type: number
            text/plain: 
              schema: 
                type: string
                description: 'GMT formatted file'
        '400':
          $ref: '#/components/responses/400'
        '404': 
          $ref: '#/components/responses/404'
        '5XX':
          $ref: '#/components/responses/5XX'
  /termmap:
    get:
      summary: '[BETA] Endpoint for searching all libraries for terms'
      operationId: termmap
      parameters:
        - name: meta
          in: query
          description: 'Filter all terms in enrichr by this match clause'
          required: true
          schema:
            type: string
            example: Cancer
      responses:
        '200': 
          description: 'Library mapped to set of matched terms in that library'
          content:
            application/json:
              schema: 
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
        '400':
          $ref: '#/components/responses/400'
        '404': 
          $ref: '#/components/responses/404'
        '5XX':
          $ref: '#/components/responses/5XX'

components:
  parameters:
    userListId:
      name: userListId
      description: Unique ID for a specific gene list
      in: query
      required: true
      schema: 
        type: integer
        example: 56519108
    backgroundType: 
      name: backgroundType
      description: Gene set library for which to download results
      in: query
      required: true
      schema: 
        type: string
        example: KEGG_2015
  requestBodies:
    addListInput:
      content: 
        multipart/form-data:
          schema:
            type: object
            properties:
              description: 
                $ref: '#/components/schemas/description'
              list:
                type: string
                example: PHF14\nRBM3\nMSL1\nPHF21A\nARL10\nINSR\nJADE2
  responses:
    '400':
      description: Bad request
    '404': 
      description: Page not found
    '5XX':
      description: Unexpected error
  schemas:
    description:
      type: string
      example: Example gene list
    library:
      type: object
      properties:
        name: 
          type: string
          example: ChEA_2015
        format:
          type: string
          example: '{1} binds to the promoter region of {0}'
        hasGrid:
          type: boolean
          example: true
        isFuzzy: 
          type: boolean
          example: true
    categories:
      type: array
      items: 
        type: object
        properties: 
          name: 
            type: string
            example: Transcription
          libraries:
            type: array
            items: 
              $ref: '#/components/schemas/library'
    descriptions:
      type: array
      items:
        type: object
        properties:
          name: 
            type: string
            example: GeneSigDB
          description: 
            type: string
            example: | 
              The GeneSigDB gene-set library was borrowed from the GeneSigDB
              database. 
    gene:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
      example: 
        GeneSigDB:
        - 18535662-TableS2b
        - 17671232-TableS2a
    statisticobject:
      type: object
      properties:
        geneCoverage:
          type: integer
          example: 13362
        genesPerTerm:
          type: number
          example: 275.0
        libraryName:
          type: string
          example: Genome_Browser_PWMs
        link:
          type: string
          example: https://hgdownload.cse.ucsc.edu/goldenPath/hg18/database/
        numTerms:
          type: integer
          example: 615
