openapi: 3.0.1

info:
  title: WormEnrichr
  version: 1.0.0
  description: | 
    WormEnrichr is the adaptation of Enrichr - a web-based tool for enrichment 
    analysis providing users with interactive displays and visual summaries of 
    collective functions of gene lists - for worms.  
  contact:
    email: avi.maayan@mssm.edu
    name: Ma'ayan Lab 
    url: http://labs.icahn.mssm.edu/maayanlab/contact/
    x-id: http://labs.icahn.mssm.edu/maayanlab/
    x-role: responsible organization
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://amp.pharm.mssm.edu/WormEnrichr/help#terms
  
servers:
- url: http://amp.pharm.mssm.edu/WormEnrichr

tags:
- name: Maayanlab
- name: NIHdatacommons

paths:
  /addList:
    post:
      summary: Submit a gene list for analysis
      operationId: addList
      requestBody:
        content: 
          multipart/form-data:
            schema:
              type: object
              properties:
                list:
                  description: Newline- or space-delineated list of gene symbols
                  type: string
                description: 
                  description: String describing what the gene symbols represent
                  type: string
              example:
                list: | 
                  C49C8 
                  atg-5 
                  hop-1 
                  mom-4 
                  lsm-8 
                  ggtb-1 
                  acr-7 
                  str-169 
                  rps-6 
                  sptf-1 
                  sek-4 
                  T13H5
                description: Example gene list
      responses:
        '200':
          description: Successful response
          content: 
            application/json: 
              schema: 
                type: object
                properties:
                  shortId:
                    type: string
                  userListId:
                    type: integer
                example:
                  shortId: '12'
                  userListId: 51
        '400':
          description: Bad request
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /view:
    get:
      summary: Returns a specific gene list
      operationId: view
      parameters: 
      - name: userListId
        description: | 
          Unique ID for a specific gene list. If the short ID is also known, use 
          EITHER this OR dataset.
        in: query
        schema:
          type: integer
        example: 50
      - name: dataset
        description: | 
          Short ID for a specific gene list. If the full ID is also known, use
          EITHER this OR userListId.
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties: 
                  description: 
                    type: string
                  genelist: 
                    type: array
                    items:
                      type: string
                example: 
                  description: Example gene list
                  genelist:
                  - C49C8
                  - atg-5
                  - hop-1
                  - mom-4
                  - lsm-8
                  - ggtb-1
                  - acr-7
                  - str-169
                  - mrps-6
                  - sptf-1
                  - sek-4
                  - T13H5
        '400':
          description: Bad request
        '404': 
          description: Page not found
        default:
          description: Unexpected error
  /enrich: 
    get: 
      summary: Returns enrichment analysis results for a specific gene list
      operationId: enrich
      parameters: 
      - $ref: '#/components/parameters/userListId'
      - $ref: '#/components/parameters/backgroundType'
      responses:
        '200': 
          description: Successful response
          content:
            application/json:
              schema: 
                type: object
                additionalProperties: 
                  type: array
                  items: 
                    type: array
                    items: 
                      anyOf:
                      - type: number
                      - type: array
                        items: 
                          type: string
                      - type: string
        '400':
          description: Bad request
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /genemap: 
    get:
      summary: Returns enrichment terms that contain a given gene
      operationId: genemap
      parameters:
      - name: gene
        description: Gene to use in search for terms
        in: query
        required: true
        schema: 
          type: string
        example: mom-4
      - name: json
        description: Set true to return JSON rather than plaintext
        in: query
        schema: 
          type: boolean
          default: false
        example: true
      - name: setup
        description: Set true to return category information for the libraries
        in: query
        schema: 
          type: boolean
          default: false
        example: false
      responses:
        '200':
          description: Successful response
          content:
            application/json: 
              schema: 
                oneOf:
                - $ref: '#/components/schemas/setupfalse'
                - $ref: '#/components/schemas/setuptrue'
              example:
                gene:
                  GeneSigDB:
                  - 18535662-TableS2b
                  - 17671232-TableS2a
                  Enrichr_Submissions:
                  - ARGFX
                  - ARNT
                descriptions:
                - name: GeneSigDB
                  description: The GeneSigDB gene-set library
                - name: Genome_Browser-PWMs
                  description: Transcription factor target genes
        '400':
          description: Bad request
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /export:
    get: 
      summary: Download enrichment analysis results for a specific gene list
      operationId: export
      parameters:
      - $ref: '#/components/parameters/userListId'
      - $ref: '#/components/parameters/backgroundType'
      - name: filename
        description: Name of text file download
        in: query
        required: true
        schema:
          type: string
        example: example_file
      responses:
        '200':
          description: Successful response
          content:
            application/text:
              schema:
                format: binary
                type: string
        '400':
          description: Bad request
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /calendar: 
    get:
      summary: Returns usage statistics for Enrichr website
      operationId: calendar
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: integer
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /count: 
    get:
      summary: | 
        Returns total number of lists analyzed, number of terms, and number of
        libraries.
      operationId: count
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /datasetStatistics:
    get:
      summary: Returns statistic information on all gene libraries
      operationId: datasetStatistics
      responses:
        '200': 
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties: 
                  statistics:
                    type: array
                    items: 
                      type: object
                      properties:
                        geneCoverage:
                          type: integer
                        genesPerTerm:
                          type: number
                        libraryName:
                          type: string
                        link:
                          type: string
                        numTerms:
                          type: integer
                example:
                  statistics: 
                  - libraryName: Wikipathways_2018
                    numTerms: 49
                    geneCoverage: 1066
                    genesPerTerm: 29
                    link: https://www.wikipathways.org
                  - libraryName: PPI_Hubs_BioGRID_2018
                    numTerms: 467
                    geneCoverage: 2505
                    genesPerTerm: 15
                    link: https://thebiogrid.org/
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /json/libraries.json:
    get: 
      summary: Returns descriptive information on all gene libraries in JSON
      operationId: libraries.json
      responses:
        '200': 
          description: 'Successful response'
          content:
            application/json: 
              schema: 
                type: object
                additionalProperties: 
                  type: object
                  additionalProperties: 
                    type: string
                example:
                  Achilles fitness decrease:
                    description: Knockdown genes from the Achilles project
                    idName: ''
                    idRegExp: ''
                    idRegExpFlag: ''
                    baseUrl: ''
                    homepage: ''
                  Aging Perturbations from GEO up:
                    description: Gene expression signatures extracted from GEO
                  Human Phenotype Ontology:
                    description: HPO is an effort to organize human phenotypes
                    idName: View on HPO's Website
                    idRegExp: 'HP:[0-9]{1,8}'
                    idRegExpFlag: i
                    baseUrl: http://compbio.charite.de/hpoweb/showterm?id=
                    useTermName: true

        '404':
          description: Page not found
        default:
          description: Unexpected error

components:
  parameters:
    userListId:
      name: userListId
      description: Unique ID for a specific gene list
      in: query
      required: true
      schema: 
        type: integer
      example: 50
    backgroundType: 
      name: backgroundType
      description: Gene set library for which to download results
      in: query
      required: true
      schema: 
        type: string
      example: Wikipathways_2018
  requestBodies:
    addListInput:
      content: 
        multipart/form-data:
          schema:
            type: object
            properties:
              list:
                description: Newline- or space-delineated list of gene symbols
                type: string
              description: 
                description: String describing what the gene symbols represent
                type: string
            example:
              list: | 
                C49C8 
                atg-5 
                hop-1 
                mom-4 
                lsm-8 
                ggtb-1 
                acr-7 
                str-169 
                rps-6 
                sptf-1 
                sek-4 
                T13H5
              description: Example gene list
  schemas:
    setupfalse:
      type: object
      properties:
        gene: 
          type: object
          additionalProperties:
            type: array
            items: 
              type: string
        descriptions: 
          type: array
          items:
            type: object
            properties:
              name: 
                type: string
              description: 
                type: string
      example:
        gene:
          Wikipathways_2018:
          - Metapathway Signal Transduction_WP1546
          - Wnt Signaling_WP235
          GO_Molecular_Function_2018A:
          - protein kinase activity (GO:0004672)
          - protein serine/threonine kinase activity (GO:0004674)
        descriptions:
        - name: Wikipathways_2018
        - name: PPI_Hubs_BioGRID_2018
    setuptrue:
      type: object
      properties: 
        gene:
          type: object
          additionalProperties:
            type: array
            items: 
              type: string
        descriptions:
          type: array
          items:
            type: object
            properties:
              name: 
                type: string
              description: 
                type: string
        categories:
          type: array
          items: 
            type: object
            properties: 
              name: 
                type: string
              libraries:
                type: array
                items: 
                  type: object
                  properties:
                    name: 
                      type: string
                    format:
                      type: string
                    hasGrid:
                      type: boolean
                    isFuzzy: 
                      type: boolean
      example:
        gene:
          Wikipathways_2018:
          - Metapathway Signal Transduction_WP1546
          - Wnt Signaling_WP235
          GO_Molecular_Function_2018A:
          - protein kinase activity (GO:0004672)
          - protein serine/threonine kinase activity (GO:0004674)
        descriptions:
        - name: Wikipathways_2018
        - name: PPI_Hubs_BioGRID_2018
        categories:
        - name: Ontologies
          libraries: 
          - name: Wikipathways_2018
            isFuzzy: false
            hasGrid: false
            format: '{0} is part of the {1} pathway.'
          - name: RNAi_Screens_Wormbase_2018
            isFuzzy: false
            hasGrid: false
            format: 'RNAi of {0} is associated with {1}.'
        - name: Pathways
          libraries: 
          - name: Gene_Interaction_Hubs_BioGRID_2018
            isFuzzy: false
            hasGrid: false
            format: '{0} directly interacts with the hub gene {1}.'
          
x-externalResources:
- x-url: http://amp.pharm.mssm.edu/WormEnrichr/help#api
  x-type: api documentation
- x-url: https://github.com/MaayanLab/smartAPIs/blob/master/wormenrichr_smartapi.yml
  x-type: api documentation
- x-url: https://www.ncbi.nlm.nih.gov/pubmed/23586463
  x-type: publication
  x-description: 'Enrichr: interactive and collaborative HTML5 gene list enrichment analysis tool.'
- x-url: https://www.ncbi.nlm.nih.gov/pubmed/27141961
  x-type: publication
  x-description: 'Enrichr: a comprehensive gene set enrichment analysis web server 2016 update.'
