openapi: 3.0.3

info:
  title: Datasets2Tools
  description: | 
    Datasets2Tools is a platform for the discovery and evaluation of biomedical 
    digital objects. It indexes over 30,000 bioinformatics analyses, over 6,000 
    biological datasets and over 4,000 computational tools. These include a wide
    variety of enrichment analyses; gene interaction networks; interactive data 
    visualizations; and datasets and computational tools spanning technologies 
    such as microarray, RNA-seq, proteomics and many others.
  termsOfService: https://maayanlab.cloud/datasets2tools/help
  contact: 
    name: Ma'ayan Lab
    url: https://labs.icahn.mssm.edu/maayanlab/contact/
    email: avi.maayan@mssm.edu
    x-role: responsible organization
    x-id: https://labs.icahn.mssm.edu/maayanlab/
  version: 2.0.0
  license:
    name: CC-BY-NC-SA-4.0
    url: https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode
  
tags: 
- name: Maayanlab
- name: NIHdatacommons
  
servers: 
- url: https://maayanlab.cloud/datasets2tools
  
paths: 
  /api/search: 
    get: 
      summary: Search a canned analysis, dataset, or tool
      description: | 
        Search a canned analysis, dataset, or tool and related entities 
        by a query keyword
      operationId: search
      parameters: 
      - name: object_type
        description: Type of object to be searched
        in: query
        schema: 
          type: string
          enum: 
          - canned_analysis
          - dataset
          - tool
          default: canned_analysis
        example: canned_analysis
      - name: q
        description: Keyword to search by
        in: query
        allowReserved: true
        schema: 
          type: string
        example: prostate cancer
      - name: dataset_accession
        description: Search this dataset or any associated analyses/tools
        in: query
        schema: 
          type: string
        example: GSE775
      - name: canned_analysis_accession
        description: Search datasets/tools used to generate this canned analysis
        in: query
        schema: 
          type: string
        example: DCA00000002
      - name: tool_name
        description: Search this tool and analyses/datasets generated by it
        in: query
        schema: 
          type: string
        example: Enrichr  
      - name: page_size
        description: Number of search results to display
        in: query
        schema: 
          type: integer
          default: 10
        example: 10
      responses: 
        '200': 
          description: Successful response
          content: 
            application/json: 
              schema: 
                type: array
                items: 
                  type: object
        '400':
          description: Bad request - one or more search parameters invalid
        '404':
          description: Page not found
        '500': 
          description: Unexpected error

x-externalResources:
- x-url: https://github.com/MaayanLab/smartAPIs/blob/master/datasets2tools_smartapi.yml
  x-type: api documentation
- x-url: https://www.nature.com/articles/sdata201823
  x-type: publication
  x-description: | 
    Datasets2Tools, repository and search engine for bioinformatics datasets, 
    tools and canned analyses
