openapi: 3.0.3

info:
  title: FlyEnrichr
  version: 2.0.0
  description: | 
    FlyEnrichr is the adaptation of Enrichr - a web-based tool for enrichment 
    analysis  providing users with interactive displays and visual summaries of 
    collective functions of gene lists - for flies. 
  contact:
    email: avi.maayan@mssm.edu
    name: Ma'ayan Lab 
    url: https://labs.icahn.mssm.edu/maayanlab/contact/
    x-id: https://labs.icahn.mssm.edu/maayanlab/
    x-role: responsible organization
  license:
    name: CC-BY-NC-SA-4.0
    url: https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode
  termsOfService: https://maayanlab.cloud/FlyEnrichr/help#terms
  
servers:
- url: https://maayanlab.cloud/FlyEnrichr

tags:
- name: Maayanlab
- name: NIHdatacommons

paths:
  /addList:
    post:
      summary: Submit a gene list for analysis
      description: Submit a newline-delineated gene list for analysis
      operationId: addList
      requestBody:
        required: true
        content: 
          multipart/form-data:
            schema:
              required: [list, description]
              type: object
              properties:
                list:
                  description: Newline- or space-delineated list of gene symbols
                  type: string
                description: 
                  description: String describing what the gene symbols represent
                  type: string
      responses:
        '200':
          description: Successful response
          content: 
            application/json: 
              schema: 
                type: object
                properties:
                  shortId:
                    type: string
                  userListId:
                    type: integer
                example:
                  shortId: mh6
                  userListId: 392800
        '400':
          description: Bad request
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /view:
    get:
      summary: Returns a specific gene list
      description: Returns the gene list corresponding to the input userListId
      operationId: view
      parameters: 
      - name: userListId
        description: | 
          Unique ID for a specific gene list. If the short ID is also known, use
          EITHER this OR dataset.
        in: query
        required: true
        schema:
          type: integer
        example: 392800
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties: 
                  description: 
                    type: string
                  genelist: 
                    type: array
                    items:
                      type: string
                example: 
                  description: Example gene list
                  genelist:
                  - Fer3HCH
                  - sav
                  - Trx-2
                  - ttk
                  - Gos28
                  - awd
                  - smt3
                  - Sytbeta
                  - Trxr-1
                  - rpr
        '400':
          description: Bad request
        '404': 
          description: Page not found
        default:
          description: Unexpected error
  /enrich: 
    get: 
      summary: Returns enrichment analysis results for a specific gene list
      description: | 
        Returns the ranked terms from the input backgroundType library when 
        enrichment analysis is computed using the list corresponding to the 
        input userListId
      operationId: enrich
      parameters: 
      - name: userListId
        description: Unique ID for a specific gene list
        in: query
        required: true
        schema: 
          type: integer
        example: 392800
      - name: backgroundType
        description: Gene set library for which to download results
        in: query
        required: true
        schema: 
          type: string
        example: Human_Disease_from_Flybase_2017
      responses:
        '200': 
          description: Successful response
          content:
            application/json:
              schema: 
                type: object
                additionalProperties: 
                  type: array
                  items: 
                    type: array
                    items: 
                      anyOf:
                      - type: number
                      - type: array
                        items: 
                          type: string
                      - type: string
        '400':
          description: Bad request
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /genemap: 
    get:
      summary: Returns enrichment terms that contain a given gene
      description: | 
        Returns all terms whose gene sets contain the input gene in either
        json or plain-text form, with optional detailed library information
        included
      operationId: genemap
      parameters:
      - name: gene
        description: Gene to use in search for terms
        in: query
        required: true
        schema: 
          type: string
        example: Sin3A
      - name: json
        description: Set true to return JSON rather than plaintext
        in: query
        schema: 
          type: boolean
          default: false
        example: true
      - name: setup
        description: Set true to return category information for the libraries
        in: query
        schema: 
          type: boolean
          default: false
        example: false
      responses:
        '200':
          description: Successful response
          content:
            application/json: 
              schema: 
                oneOf:
                - $ref: '#/components/schemas/setupfalse'
                - $ref: '#/components/schemas/setuptrue'
              example:
                gene:
                  GeneSigDB:
                  - 18535662-TableS2b
                  - 17671232-TableS2a
                  Enrichr_Submissions:
                  - ARGFX
                  - ARNT
                descriptions:
                - name: GeneSigDB
                  description: The GeneSigDB gene-set library
                - name: Genome_Browser-PWMs
                  description: Transcription factor target genes
        '400':
          description: Bad request
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /export:
    get: 
      summary: Download enrichment analysis results for a specific gene list
      description: | 
        Exports the enrichment analysis results for the gene list corresponding 
        to the input userListId when compared to the input backgroundType as
        a tab-delimited text file
      operationId: export
      parameters:
      - name: userListId
        description: Unique ID for a specific gene list
        in: query
        required: true
        schema: 
          type: integer
        example: 392800
      - name: backgroundType
        description: Gene set library for which to download results
        in: query
        required: true
        schema: 
          type: string
        example: Human_Disease_from_Flybase_2017
      - name: filename
        description: Name of text file download
        in: query
        required: true
        schema:
          type: string
        example: example_file
      responses:
        '200':
          description: Successful response
          content:
            application/text:
              schema:
                format: binary
                type: string
        '400':
          description: Bad request
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /calendar: 
    get:
      summary: Returns usage statistics for Enrichr website
      description: |
        Returns usage statistics for Enrichr website by day; may take a while 
        to run 
      operationId: calendar
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: integer
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /count: 
    get:
      summary: Returns counts for lists, terms, and libraries
      description: | 
        Returns total number of lists analyzed, number of terms, and number of
        libraries
      operationId: count
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /datasetStatistics:
    get:
      summary: Returns statistic information on all gene libraries
      description: |
        Returns detailed statistics for all gene libraries, including
        number of terms, number of genes, genes per term, etc.
      operationId: datasetStatistics
      responses:
        '200': 
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties: 
                  statistics:
                    type: array
                    items: 
                      type: object
                      properties:
                        geneCoverage:
                          type: integer
                        genesPerTerm:
                          type: number
                        libraryName:
                          type: string
                        link:
                          type: string
                        numTerms:
                          type: integer
                example:
                  statistics: 
                  - libraryName: Human_Disease_from_Flybase_2017
                    numTerms: 64
                    geneCoverage: 1100
                    genesPerTerm: 27
                    link: https://flybase.org/
                  - libraryName: Putative_Regulatory_miRNAs_from_DroID_2015
                    numTerms: 144
                    geneCoverage: 12098
                    genesPerTerm: 772
                    link: http://droidb.org/
        '404':
          description: Page not found
        default:
          description: Unexpected error
  /json/libraries.json:
    get: 
      summary: Returns descriptive information on all gene libraries in JSON
      description: Returns information on all gene libraries in JSON format
      operationId: libraries_json
      responses:
        '200': 
          description: 'Successful response'
          content:
            application/json: 
              schema: 
                type: object
                additionalProperties: 
                  type: object
                  additionalProperties: 
                    type: string
                example:
                  GO Biological Process 2018A:
                    description: Gene Ontology Biological Processes 
                    idName: 'GO'
                    idRegExp: ''
                    idRegExpFlag: ''
                    baseUrl: ''
                    homepage: ''
                  Anatomy AutoRIF:
                    description: For each term, PubMed was queried to extract PMIDs.
        '404':
          description: Page not found
        default:
          description: Unexpected error

components:
  schemas:
    setupfalse:
      type: object
      properties:
        gene: 
          type: object
          additionalProperties:
            type: array
            items: 
              type: string
        descriptions: 
          type: array
          items:
            type: object
            properties:
              name: 
                type: string
              description: 
                type: string
      example:
        gene:
          Wikipathways_2018:
          - Hedgehog Signaling Pathway_WP492
          PPI_Network_Hubs_from_DroID_2017:
          - CG11138
          - CG2865
          - CG9184
          - Cd1c2
        descriptions:
        - name: Wikipathways_2018
        - name: Human_Disease_from_Flybase_2017
    setuptrue:
      type: object
      properties: 
        gene:
          type: object
          additionalProperties:
            type: array
            items: 
              type: string
        descriptions:
          type: array
          items:
            type: object
            properties:
              name: 
                type: string
              description: 
                type: string
        categories:
          type: array
          items: 
            type: object
            properties: 
              name: 
                type: string
              libraries:
                type: array
                items: 
                  type: object
                  properties:
                    name: 
                      type: string
                    format:
                      type: string
                    hasGrid:
                      type: boolean
                    isFuzzy: 
                      type: boolean
      example:
        gene:
          Wikipathways_2018:
          - Hedgehog Signaling Pathway_WP492
          PPI_Network_Hubs_from_DroID_2017:
          - CG11138
          - CG2865
          - CG9184
          - Cd1c2
        descriptions:
        - name: Wikipathways_2018
        - name: Human_Disease_from_Flybase_2017
        categories:
        - name: Function
          libraries:
          - name: Human_Disease_from_Flybase_2017
            isFuzzy: false
            hasGrid: false
            format: '{0} is associated with the human disease {1}.'
          - name: RNAi_Screens_from_GenomeRNAi_2017
            isFuzzy: false
            hasGrid: false
            format: 'RNAi of {0} is associated with {1}.'
        - name: Pathways
          libraries: 
          - name: Wikipathways_2018
            isFuzzy: false
            hasGrid: false
            format: '{0} is part of the {1} pathways.'
          
x-externalResources:
- x-url: https://maayanlab.cloud/FlyEnrichr/help#api
  x-type: api documentation
- x-url: https://github.com/MaayanLab/smartAPIs/blob/master/flyenrichr_smartapi.yml
  x-type: api documentation
- x-url: https://www.ncbi.nlm.nih.gov/pubmed/23586463
  x-type: publication
  x-description: 'Enrichr: interactive and collaborative HTML5 gene list enrichment analysis tool.'
- x-url: https://www.ncbi.nlm.nih.gov/pubmed/27141961
  x-type: publication
  x-description: 'Enrichr: a comprehensive gene set enrichment analysis web server 2016 update.'
